body {
  font-family: Laila;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  /* margin-right: -15px;
  margin-left: -15px; */
}

.col-3,
.col-9, .col-12 {
  position: relative;
	width: 100%;
	/* padding-right: 15px;
  padding-left: 15px; */
}

.text-center{
	text-align: center;
}

.text-left{
	text-align: left;
}

.text-right{
	text-align: right;
}

.float-container{
	position: relative;
}

.float-left{
	float: left;
}

.float-right{
	float: right;
}

.img-profile{
	display: inline-block;
	border-radius: 50px;
	width: 100px;
	height: 100px;;
}

#sosmed{
	padding: 0;
	list-style-type: none;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  .col-3 {
    max-width: 25%;
  }

  .col-9 {
    max-width: 75%;
	}
	
  .col-12 {
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}